<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">

	<test name="WordPress Account" preserve-order="true">
		<parameter name="platformType" value="web" />
		<parameter name="platformName" value="chrome" />
		<classes>
			<class name="Wordpress_Sample_Test" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
